@inject IConfiguration Configuration
@using Microsoft.AspNetCore.Http
@model List<ProductCardDto>
@if (Model.Count > 0)
{
    foreach (var p in Model)
    {
        <div class="featured_slider_item">
            <div class="border_active"></div>
            <div class="product_item d-flex flex-column align-items-center justify-content-center text-center">
                <div class="product_image d-flex flex-column align-items-center justify-content-center">
                    <img src='@Configuration["APIServerHost"]app-content/@p.ImagePath' style="height: 115px;width: 115px;">
                </div>
                <div class="product_content">
                    <div class="product_price">@p.RetailPrice.ToString("#,##0") đ</div>
                    <div class="product_name"><div><a asp-controller="Product" asp-action="Index" asp-route-productId=@p.Id>@p.Name</a></div></div>
                    <div class="product_extras">
                        <p>Thương hiệu: @p.BrandName</p>
                        <div class="bestsellers_rating">
                            @{
                                if (p.Stars > 0)
                                {
                                    for (int i = 0; i < p.Stars; i++)
                                    {
                                        <i class="fa fa-star" style="color:#ffe234"></i>
                                    }
                                }
                            }
                        </div>
                        <a asp-controller="Product" asp-action="Index" asp-route-productId="@p.Id" 
                           class="product_cart_button btn" style="padding-top: 10px">Xem chi tiết</a>
                    </div>
                </div>
                <div class="product_fav"><i class="fas fa-heart"></i></div>
                <ul class="product_marks">
                    <li class="product_mark product_discount"></li>
                    <li class="product_mark product_new">new</li>
                </ul>
            </div>
        </div>
    }
}


