@model PagedResult<eQACoLTD.ViewModel.Order.Queries.OrdersDto>
<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" asp-controller="Order" asp-action="Index">Đơn hàng</a>
                <span class="breadcrumb-item active" href="#">Đơn hàng đang chờ</span>
    </nav>
</div><!-- br-pageheader -->
<div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Danh sách đơn hàng đang chờ</h4>
    <p class="mg-b-0">Quản lý danh sách đơn hàng đang chờ có trong hệ thống</p>
</div>
<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="table-wrapper">
            <div class="row m-1">
                <select class="form-control col-md-2 bd-r-0">
                    <option selected="selected">Lọc</option>
                    <option>Theo tên</option>
                </select>
                <input id="search-box" type="text" class="form-control col-md-10" placeholder="Tìm kiếm đơn hàng">
            </div>
            <table id="datatable2" class="table display responsive table-striped nowrap mt-3">
                <thead class="bg-primary">
                    <tr>
                        <th class="wd-10p text-white">Mã</th>
                        <th class="wd-15p text-white">Ngày tạo</th>
                        <th class="wd-20p text-white">Tên khách hàng</th>
                        <th class="wd-15p text-white">Trạng thái</th>
                        <th class="wd-15p text-white">Thanh toán</th>
                        <th class="wd-15p text-right text-white">Khách phải trả</th>
                    </tr>
                </thead>
                <tbody>
                     @{
                         foreach (var c in Model.Results)
                         {
                             <tr id=@c.OrderId style="cursor: pointer" onclick="showOrderDetail(this)">
                                 <form asp-controller="Order" asp-action="WaitingOrderDetail" asp-route-orderId="@c.OrderId">
                                     <td class="pt-md-4 pt-sm-4 text-primary">
                                        <input type="submit" class="btn btn-primary text-white" value="@c.OrderId">
                                     </td>
                                 </form>
                                 <td class="pt-md-4 pt-sm-4 align-middle font-weight-bold">@c.DateCreated.ToString("hh:mm-dd/MM/yyyy")</td>
                                 <td class="pt-md-4 pt-sm-4 align-middle font-weight-bold">@c.CustomerName</td>
                                 <td class="pt-md-4 pt-sm-4 align-middle text-warning font-weight-bold">@c.TransactionStatusName</td>
                                 <td class="pt-md-4 pt-sm-4 align-middle text-danger font-weight-bold">@c.PaymentStatusName</td>
                                 <td class="pt-md-4 pt-sm-4 align-middle font-weight-bold text-danger text-right">@c.CustomerHasPaid.ToString("#,##0")</td>
                             </tr>
                         }
                     }
                </tbody>
            </table>
        </div><!-- table-wrapper -->
    </div>
    <div class="html mt-1">
        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
</div>