@model PagedResult<eQACoLTD.ViewModel.Product.Stock.Queries.GoodsDeliveryNotesDto>
<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" asp-controller="Product" asp-action="Index">Sản phẩm</a>
        <span class="breadcrumb-item active" href="#">Phiếu xuất kho</span>
    </nav>
</div><!-- br-pageheader -->
<div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Danh sách phiếu xuất kho</h4>
    <p class="mg-b-0">Quản lý danh sách phiếu xuất kho có trong hệ thống</p>
    <a class="btn btn-primary text-white mt-sm-3 mt-md-3" style="cursor: pointer">Tạo phiếu xuất</a>
</div>
<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="table-wrapper">
            <div class="row m-1">
                <select class="form-control col-md-2 bd-r-0">
                    <option selected="selected">Lọc</option>
                    <option>Theo tên</option>
                </select>
                <input id="search-box" type="text" class="form-control col-md-10" placeholder="Tìm kiếm phiếu xuất">
            </div>
            <table id="datatable2" class="table display responsive nowrap table-striped mt-3">
                <thead class="bg-primary">
                <tr>
                    <th class="wd-10p text-white">Mã phiếu</th>
                    <th class="wd-10p text-white">Mã chứng từ</th>
                    <th class="wd-10p text-white">Ngày xuất</th>
                    <th class="wd-10p text-white">Người xuất</th>
                    <th class="wd-10p text-white">Lý do</th>
                    <th class="wd-10p text-white">Kho</th>
                    <th class="wd-10p text-white">Chi nhánh</th>
                    <th class="wd-20p text-white text-right">Hành động</th>
                </tr>
                </thead>
                <tbody>
                @{
                    foreach (var c in Model.Results)
                    {
                        <tr>
                            <td class="pt-md-4 pt-sm-4 font-weight-bold">
                                <a class="btn btn-primary text-white" asp-controller="Product" asp-action="GoodsDeliveryNote"
                                   asp-route-goodsDeliveryNoteId=@c.Id>@c.Id</a>
                            </td>
                            <td class="pt-md-4 pt-sm-4 align-middle font-weight-bold">@c.OrderId</td>
                            <td class="pt-md-4 pt-sm-4 align-middle font-weight-bold">@c.ExportDate.ToString("dd/MM/yyyy-hh:mm")</td>
                            <td class="pt-md-4 pt-sm-4 align-middle font-weight-bold">@c.EmployeeName</td>
                            <td class="pt-md-4 pt-sm-4 align-middle font-weight-bold">@c.StockActionId</td>
                            <td class="pt-md-4 pt-sm-4 align-middle font-weight-bold">@c.WarehouseName</td>
                            <td class="pt-md-4 pt-sm-4 align-middle font-weight-bold">@c.BranchName</td>
                            <td class="text-right align-middle"> 
                                <form method="post">
                                    <a style="cursor:pointer" class="btn btn-danger text-white mr-1">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <button type="submit"
                                            style="cursor:pointer" class="btn btn-primary text-white">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div><!-- table-wrapper -->
    </div>
    <div class="html mt-1">
        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
</div>