@model PagedResult<eQACoLTD.ViewModel.Product.Supplier.Queries.SuppliersDto>
@inject IConfiguration Configuration
@using Microsoft.AspNetCore.Http
@section Scripts
{
    <script>
        function deleteSupplier(id) {
            $.ajax({
                url:'@Configuration["APIServerHost"]api/suppliers/'+id,
                headers: { "Authorization": 'Bearer @Context.Session.GetString("access_token")' },
                method: 'DELETE',
                contentType: "application/json",
                success: function () {
                    $("#" + id).fadeOut(1000);
                    showAlertMessage(true, "Xóa nhà cung cấp thành công");
                },
                error: function () {
                    showAlertMessage(false, "Có lỗi khi xóa nhà cung cấp");
                }
            })
        }
    </script>
}
<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" asp-controller="Category" asp-action="Index">Sản phẩm</a>
        <span class="breadcrumb-item active" href="#">Nhà cung cấp</span>
    </nav>
</div><!-- br-pageheader -->
<div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Danh sách nhà cung cấp</h4>
    <p class="mg-b-0">Quản lý danh sách nhà cung cấp có trong hệ thống</p>
    <a class="btn btn-primary text-white mt-sm-3 mt-md-3" asp-controller="Supplier" asp-action="Create"
       style="cursor: pointer">Thêm Nhà cung cấp</a>
</div>
<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="table-wrapper">
            <div class="row m-1">
                <select class="form-control col-md-2 bd-r-0">
                    <option selected="selected">Lọc</option>
                    <option>Theo tên</option>
                </select>
                <input id="search-box" type="text" class="form-control col-md-10" placeholder="Tìm kiếm nhà cung cấp">
            </div>
            <table id="datatable2" class="table display table-responsive nowrap">
                <thead>
                    <tr>
                        <th class="w-5">Mã</th>
                        <th class="w-10">Tên</th>
                        <th class="w-10">Địa chỉ</th>
                        <th class="w-10">Điện thoại</th>
                        <th class="w-10">Phụ trách</th>
                        <th class="w-10">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var c in Model.Results)
                        {
                            <tr id=@c.Id>
                                <td class="pt-md-4 pt-sm-4">@c.Id</td>
                                <td class="pt-md-4 pt-sm-4">@c.Name</td>
                                <td class="pt-md-4 pt-sm-4">@c.Address</td>
                                <td class="pt-md-4 pt-sm-4">@c.PhoneNumber</td>
                                <td class="pt-md-4 pt-sm-4">@c.EmployeeName</td>
                                <td>
                                    <div class="row w-10">
                                        <form method="post">
                                            <a style="cursor:pointer" onclick="deleteSupplier('@c.Id')" class="btn btn-danger text-white mr-1">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            <button type="submit"
                                                    style="cursor:pointer" class="btn btn-primary text-white">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div><!-- table-wrapper -->
    </div>
    <div class="html mt-1">
        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
</div>