@using eQACoLTD.ClientMvc.Components
@using Microsoft.AspNetCore.Http
@model eQACoLTD.ViewModel.Common.PagedResult<ProductCardDto>
@inject IConfiguration Configuration

@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/plugins/jquery-ui-1.12.1.custom/jquery-ui.css"
          xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" type="text/css" href="~/styles/shop_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/styles/shop_styles.css">
}

@section Scripts
{
    <script src="~/js/shop_custom.js"></script>
    <script>
        loadCategories();
        loadBrands();
        function loadCategories(){
            $.ajax({
              url:'@Configuration["APIServerHost"]api/categories/all',
               headers: {
                   "Authorization":'Bearer '+'@Context.Session.GetString("access_token")'
                   },
               method:'GET',
               dataType:'json',
               success:function(data) {
                 $(data.resultObj).each(function (index,value){
                     $("#category-select").append('<option value='+value.id+'>'+value.name+'</option>');
                 })
               }
            })
        }
        function loadBrands(){
             $.ajax({
              url:'@Configuration["APIServerHost"]api/others/brands',
               headers: {
                   "Authorization":'Bearer '+'@Context.Session.GetString("access_token")'
                   },
               method:'GET',
               dataType:'json',
               success:function(data) {
                 $(data).each(function (index,value){
                     $("#brand-select").append('<option value='+value.id+'>'+value.name+'</option>');
                 })
               }
            })   
        }
        function changeMaxPrice(val){
            $("#maximumPrice").val(accounting.formatNumber($(val).val()));
        }
        function changeMinPrice(val){
            $("#minimumPrice").val(accounting.formatNumber($(val).val()));
        }
    </script>
}

<div class="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <!-- Shop Sidebar -->
                <div class="shop_sidebar">
                    <div class="sidebar_section card p-3">
                        <div class="sidebar_title">
                            <h3>Lọc sản phẩm</h3>
                        </div>
                        <div class="container">
                            <form asp-controller="Home" asp-action="Filter">
                                <div class="row mt-2">
                                    <div class="form-group">
                                        <h6>Danh mục</h6>
                                        <select id="category-select"
                                                name="categoryId" class="form-control text-dark"
                                                style="min-width: 200px;max-width: 200px">
                                            <option value="">Tất cả</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="form-group">
                                        <h6>Thương hiệu</h6>
                                        <select id="brand-select" name="brandId" class="form-control text-dark" style="min-width: 200px;max-width: 200px">
                                            <option value="">Tất cả</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="form-group">
                                        <h6>Theo giá</h6>
                                        <select name="order" class="form-control text-dark" style="min-width: 200px;max-width: 200px">
                                            <option value="true">Từ thấp -> cao</option>
                                            <option value="false">Từ cao -> Thấp</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="form-group">
                                        <h6>Giá từ</h6>
                                        <input id="minimumPrice" name="minimumPrice" type="text" oninput="changeMinPrice(this)" value="0" class="form-control text-dark" style="min-width: 200px;max-width: 200px;margin-left: 10px">
                                        <h6 class="mt-3">Đến</h6>
                                        <input id="maximumPrice" name="maximumPrice" type="text" value="100,000,000" oninput="changeMaxPrice(this)"
                                               class="form-control text-dark" style="min-width: 200px;max-width: 200px;margin-left: 10px">
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-primary w-100" style="cursor: pointer;">Lọc</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    @foreach (var p in Model.Results)
                    {
                        <div class="product_item col-md-3 discount">
                            <div class="product_border"></div>
                            <div class="product_image d-flex flex-column align-items-center justify-content-center">
                                <img style="height: 115px;width: 115px" src='@Configuration["APIServerHost"]app-content/@p.ImagePath' alt="">
                            </div>
                            <div class="product_content">
                                 @if (p.PromotionRetailPrice > 0 && p.PromotionRetailPrice != p.RetailPrice)
                                 {
                                     <div class="product_price font-italic font-weight-bold">Giá KM: @p.PromotionRetailPrice.ToString("#,##0") đ</div>
                                 }
                                 else
                                 {
                                     <div class="product_price font-italic font-weight-bold">Giá bán: @p.RetailPrice.ToString("#,##0") đ</div>
                                 }
                                <div class="product_name">
                                    <div>
                                        <a asp-controller="Product" asp-action="Index" asp-route-productId="@p.Id" class="font-weight-bold" tabindex="0">@p.Name</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product_fav">
                                <i class="fas fa-heart"></i>
                            </div>
                            @if (p.PromotionRetailPrice > 0 && p.PromotionRetailPrice != p.RetailPrice)
                            {
                                <ul class="product_marks">
                                    <li class="product_mark product_discount">-@p.DiscountValue%</li>
                                    <li class="product_mark product_new">new</li>
                                </ul>
                            }
                        </div>
                    }
                </div>
                @(await Component.InvokeAsync<PagerViewComponent>(Model))
            </div>
        </div>
    </div>
</div>