@model PagedResult<UserProfileResponse>
<div class="w-100">
    <div class="row">
        <div class="col-md-12">
            <div class="col-sm-3 offset-md-9 mt-3 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Thông tin tài khoản...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary text-light" type="button">Tìm kiếm</button>
                    </span>
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Người dùng<small>hệ thống</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="pl-1" data-toggle="tooltip" data-placement="bottom" title="Sắp xếp">
                            <a><i class="fa fa-filter"></i></a>
                        </li>
                        <li class="pl-1" data-toggle="tooltip" data-placement="bottom" title="Cài đặt hiển thị">
                            <a><i class="fa fa-wrench"></i></a>
                        </li>
                        <li class="pl-1" data-toggle="tooltip" data-placement="bottom" title="Thu nhỏ/Phóng to">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr class="headings">
                                            <th>
                                                <input type="checkbox" id="check-all" class="flat">
                                            </th>
                                            <th class="column-title">Tài khoản </th>
                                            <th class="column-title">Họ Tên</th>
                                            <th class="column-title">Giới tính </th>
                                            <th class="column-title">Ngày sinh </th>
                                            <th class="column-title">Địa chỉ </th>
                                            <th class="column-title">Số điện thoại </th>
                                            <th class="column-title no-link last">
                                                <span class="nobr">Hành động</span>
                                            </th>
                                            <th class="bulk-actions" colspan="7">
                                                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                                            string className = "";
                                            foreach (var r in Model.Results.Select((value, i) => new { i, value }))
                                            {
                                                if (r.i % 2 == 0)
                                                {
                                                    className = "even pointer";
                                                }
                                                className = "odd pointer";
                                                <tr class=@className>
                                                    <td class="a-center ">
                                                        <input type="checkbox" class="flat" name="table_records">
                                                    </td>
                                                    <td class="text-break">@r.value.UserName</td>
                                                    <td class="text-break">
                                                        @if (string.IsNullOrEmpty(r.value.FirstName) &&
                                                        string.IsNullOrEmpty(r.value.MiddleName) &&
                                                        string.IsNullOrEmpty(r.value.LastName))
                                                        {
                                                            <p>(Chưa điền thông tin)</p>
                                                        }
                                                        @r.value.FirstName @r.value.MiddleName @r.value.LastName
                                                    </td>
                                                    <td class="text-break">
                                                        @{
                                                            if (r.value.Gender == true)
                                                            {
                                                                <p>Nam</p>
                                                            }
                                                            else
                                                            {
                                                                <p>Nữ</p>
                                                            }
                                                        }
                                                    </td>
                                                    <td class="text-break">@r.value.DOB.ToString("dd/MM/yyyy")</td>
                                                    <td class="text-break">
                                                        @if (string.IsNullOrEmpty(r.value.Address) &&
                                                        string.IsNullOrEmpty(r.value.Street) &&
                                                        string.IsNullOrEmpty(r.value.District) &&
                                                        string.IsNullOrEmpty(r.value.SubDistrict) &&
                                                        string.IsNullOrEmpty(r.value.City))
                                                        {
                                                            <p>(Chưa điền thông tin)</p>
                                                        }
                                                        @r.value.Address @r.value.Street @r.value.SubDistrict @r.value.District @r.value.City
                                                    </td>
                                                    <td class="text-break ">
                                                        @if (string.IsNullOrEmpty(r.value.PhoneNumber))
                                                        {
                                                            <p>(Chưa điền thông tin)</p>
                                                        }
                                                        @r.value.PhoneNumber
                                                    </td>
                                                    <td class=" last">
                                                        <a><i class="fa fa-eye btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Chi tiết"></i></a>
                                                        <a><i class="fa fa-lock btn btn-warning text-white" data-toggle="tooltip" data-placement="bottom" title="Khóa/Mở khóa"></i></a>
                                                        <a><i class="fa fa-trash btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Xóa"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @(await Component.InvokeAsync<PagerViewComponent>(Model))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>