@using Microsoft.AspNetCore.Http
@model ProductDto
@inject IConfiguration Configuration
@{
    Layout = "_Layout";
}

@section Scripts
{
    <script>
		function changeImage(el) {
			console.log($(el).attr('src'));
		  $(".image_selected").empty().append('<img style="height: 300px;width: 300px" src='+$(el).attr('src')+'>');
		}
        function addToCart(el){
            var productId=$(el).attr('id');
            $.ajax({
                url:'@Configuration["APIServerHost"]api/accounts/carts',
                headers: {
                    "Authorization":'Bearer '+'@Context.Session.GetString("access_token")'
                    },
                method:'post',
                contentType:"application/json",
                dataType:'json',
                data:JSON.stringify(productId),
                success:function() {
                  showAlertMessage(true,"Đã thêm sản phẩm vào giỏ hàng");
                },
                error:function() {
                  showAlertMessage(true,"Có lỗi khi thêm sản phẩm vào giỏ hàng");
                }
            })
        }
	</script>
}

    <div class="container">
        <div class="row">

            <!-- Images -->
            <div class="col-lg-2 order-lg-1 order-2">
                <ul class="image_list">
                    @foreach (var pi in @Model.ListImage)
                    {
                        <li data-image="@Configuration["APIServerHost"]app-content/@pi.ImagePath">
                            <img onclick="changeImage(this)" src="@Configuration["APIServerHost"]app-content/@pi.ImagePath">
                        </li>
                    }
                </ul>
            </div>

            <!-- Selected Image -->
            <div class="col-lg-5 order-lg-2 order-1">
                <div class="image_selected">
                    <img src="@Configuration["APIServerHost"]app-content/@Model.ListImage.Where(x => x.IsThumbnail == true).SingleOrDefault().ImagePath"
                         style="height: 300px;width: 300px">
                </div>
            </div>

            <!-- Description -->
            <div class="col-lg-5 order-3">
                <div class="product_description">
                    <div class="product_category">@Model.CategoryName</div>
                    <div class="product_name">@Model.Name</div>
                    <div class="bestsellers_rating">
                        <p>Số sao đánh giá: </p>
                        @{
                            if (Model.Stars > 0)
                            {
                                for (int i = 0; i < Model.Stars; i++)
                                {
                                    <i class="fa fa-star" style="color:#ffe234"></i>
                                }
                            }
                        }
                    </div>
                    <div class="product_text">
                        <p>Tổng quan cấu hình: @Model.OverView</p>
                    </div>
                    <div class="order_info d-flex flex-row">
                        <form action="#">
                            <div class="clearfix" style="z-index: 1000;">
                                <!-- Product Quantity -->
                            </div>

                            <div class="product_price">Giá: @Model.RetailPrice.ToString("#,##0") đ</div>
                            <div class="button_container">
                                <button type="button" id='@Model.Id' onclick="addToCart(this)" class="button cart_button">Thêm vào giỏ</button>
                                <div class="product_fav">
                                    <i class="fas fa-heart"></i>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-3">
           <div class="card text-center col-md-12">
             <div class="card-header">
               <h3>@Model.Name</h3>
             </div>
             <div class="card-body">
               @Html.Raw(@Model.Description)
             </div>
           </div>
        </div>
    </div>