@using Microsoft.AspNetCore.Http
@model AccountDto
@inject IConfiguration Configuration
@section Scripts{
    <script>
        getAccountNotInRoles();
        function getAccountNotInRoles() {
        $.ajax({
            url: '@Configuration["APIServerHost"]api/Accounts/@Model.Id/roles/not-in',
            headers: {"Authorization":'Bearer @Context.Session.GetString("access_token")'},
            method: 'get',
            dataType: 'json',
            success: function (data) {
                var rolesSelect = $('#roles-select');
                rolesSelect.empty();
                $(data.resultObj).each(function (index,empt) {
                    rolesSelect.append('<option value=' + empt.id + '>' + empt.description+'</option>')
                })
            },
            error: function (data) {
                var rolesSelect = $('#roles-select');
                rolesSelect.empty();
                showAlertMessage(false,"Có lỗi khi kết nối tới máy chủ.");
                }
            })
        }
        function deleteAccountRole(e, id) {
            $.ajax({
                url:'@Configuration["APIServerHost"]api/Accounts/@Model.Id/roles/'+id,
                headers: {
                    "Authorization": 'Bearer @Context.Session.GetString("access_token")',
                },
                method: 'delete',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var aElement = $(e).parents('a').first();
                    $(aElement).remove();
                    showAlertMessage(true, data.message);
                    getAccountNotInRoles();
                },
                error: function (data) {
                    showAlertMessage(false,'Có lỗi khi xóa quyền cho tài khoản');
                }
            })
        }
        function addAccountRole() {
            var roleId = $("#roles-select option:selected").val();
            var roleName = $("#roles-select option:selected").text();
            console.log(roleId);
            $.ajax({
                url: '@Configuration["APIServerHost"]api/Accounts/@Model.Id/roles',
                headers: {
                    "Authorization": 'Bearer @Context.Session.GetString("access_token")',
                },
                method: 'post',
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(roleId),
                success: function (data) {
                    var anchorEl = document.createElement("a");
                    $(anchorEl).attr("class", "btn btn-info text-white ml-1");
                    var idiomaticEl = document.createElement("i");
                    $(idiomaticEl).attr("class", "fa fa-close pl-1");
                    $(idiomaticEl).attr("style", "cursor: pointer");
                    $(idiomaticEl).click(function () {
                        deleteAccountRole(this, roleId)
                    });
                    $(anchorEl).append(roleName);
                    $(anchorEl).append(idiomaticEl);
                    $("#in-roles-el").append(anchorEl);
                    showAlertMessage(true, data.message);
                    getAccountNotInRoles();

                },
                error: function (data) {
                    showAlertMessage(false,"Có lỗi khi thêm quyền cho tài khoản");
                }
            })
        }
    </script>
}

<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="index.html">Hệ thống</a>
        <a class="breadcrumb-item" asp-controller="Account" asp-action="Index">Tài khoản hệ thống</a>
        <span class="breadcrumb-item active" href="#">@Model.UserName</span>
    </nav>
</div><!-- br-pageheader -->
<div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Chi tiết tài khoản</h4>
</div>
<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="table-wrapper">
            <h2 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Thông tin chi tiết tài khoản: @Model.UserName</h2>
            <div class="form-layout form-layout-2">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label">Tên tài khoản: <span class="tx-danger">*</span></label>
                            <a class="form-control text-dark">@Model.UserName</a>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-md-4 mg-t--1 mg-md-t-0">
                        <div class="form-group mg-md-l--1">
                            <label class="form-control-label">Người sở hữu: <span class="tx-danger">*</span></label>
                            <a class="form-control text-dark">@Model.Name</a>
                        </div>
                    </div><!-- col-4 -->
@*                     <div class="col-md-4 mg-t--1 mg-md-t-0"> *@
@*                         <div class="form-group mg-md-l--1"> *@
@*                             <label class="form-control-label text-dark">Giới tính: <span class="tx-danger">*</span></label> *@
@*                             <a class="form-control"> *@
@*                                 @{ *@
@*                                     if (1 == Model.Gender) *@
@*                                     { *@
@*                                         <p class="text-dark">Nam</p>; *@
@*                                     } *@
@*                                     else *@
@*                                     { *@
@*                                         <p class="text-dark">Nữ</p>; *@
@*                                     } *@
@*                                 } *@
@*                             </a> *@
@*                         </div> *@
@*                     </div><!-- col-4 --> *@
                    <div class="col-md-4 mg-t--1">
                        <div class="form-group">
                            <label class="form-control-label">Email: <span class="tx-danger">*</span></label>
                            <a class="form-control text-dark">@Model.Email</a>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-md-4 mg-t--1">
                        <div class="form-group mg-md-l--1">
                            <label class="form-control-label">Điện thoại: <span class="tx-danger">*</span></label>
                            <a class="form-control text-dark">@Model.PhoneNumber</a>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-md-4 mg-t--1">
                        <div class="form-group mg-l--1">
                            <label class="form-control-label">Địa chỉ: <span class="tx-danger">*</span></label>
                            <a class="form-control text-dark">@Model.Address</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mg-t--1">
                            <label class="form-control-label"> Phân quyền: <span class="tx-danger">*</span></label>
                            <div class="row pt-1">
                                <select id="roles-select" class="col-md-8 mx-auto">
                                </select>
                                <a class="btn btn-info text-white col-md-3" onclick="addAccountRole()" style="cursor:pointer">Thêm</a>
                            </div>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-md-12 mg-t--1 mg-b-1-force">
                        <div class="form-group mg-md-l--1">
                            <label class="form-control-label"> Các quyền trực thuộc: <span class="tx-danger">*</span></label>
                            <div id="in-roles-el" class="row pt-1 pl-3">
                                @{
                                    if (Model.InRoles != null && Model.InRoles.Count > 0)
                                    {
                                        foreach (var r in Model.InRoles)
                                        {
                                            <a class="btn btn-info text-white ml-1">
                                                @r.Description
                                                <i class="fa fa-close" onclick="deleteAccountRole(this,'@r.Id')" style="cursor:pointer"></i>
                                            </a>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div><!-- col-4 -->
                </div><!-- row -->
                <div class="form-layout-footer bd pd-20 bd-t-0">
                    <button class="btn btn-danger">Xoá tài khoản</button>
                    <button class="btn btn-warning">Khóa tài khoản</button>
                </div><!-- form-group -->
            </div><!-- form-layout -->
        </div><!-- table-wrapper -->
    </div>
</div>
