@model PagedResult<AccountsDto>
@section Scripts
{
    <script >
        function searchEnter(el) {
            if(event.keyCode===13){
                event.preventDefault();
                console.log($(el).val());
                $(el).val('');
            }
        }
    </script>
}
<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="index.html">Hệ thống</a>
        <span class="breadcrumb-item active" href="#">Tài khoản hệ thống</span>
    </nav>
</div><!-- br-pageheader -->
<div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Danh sách tài khoản</h4>
    <p class="mg-b-0">Quản lý tài khoản có trong hệ thống</p>
</div>
<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="table-wrapper">
            <div class="row m-1">
                <select class="form-control col-md-2 bd-r-0">
                    <option selected="selected">Lọc</option>
                    <option>Theo tên</option>
                </select>
                <input id="search-box" onkeyup="searchEnter(this)" type="text" class="form-control col-md-10" placeholder="Tìm kiếm tài khoản">
            </div>
            <table id="datatable2" class="table display responsive table-striped mt-3 nowrap">
                <thead class="bg-primary">
                <tr>
                    <th class="wd-15p text-white">Tài khoản</th>
                    <th class="wd-20p text-white">Email</th>
                    <th class="wd-15p text-white">Người sở hữu</th>
                    <th class="wd-10p text-white">Số điện thoại</th>
                    <th class="wd-20p text-right text-white">Hành động</th>
                </tr>
                </thead>
                <tbody>
                @{
                    foreach (var a in Model.Results)
                    {
                        <tr>
                            <td class="pt-md-4 pt-sm-4 font-weight-bold">@a.UserName</td>
                            <td class="pt-md-4 pt-sm-4 font-weight-bold">@a.Email</td>
                            <td class="pt-md-4 pt-sm-4 font-weight-bold">
                                @{
                                    if (!string.IsNullOrEmpty(a.CustomerName))
                                    {
                                        <p class="font-weight-bold">Khách hàng: @a.CustomerName</p>
                                    }
                                    else
                                    {
                                        <p class="font-weight-bold">Nhân viên: @a.EmployeeName</p>
                                    }
                                }
                            </td>
                            <td class="pt-md-4 pt-sm-4 font-weight-bold">@a.PhoneNumber</td>
                            <td class="text-right"> 
                                <form asp-controller="Account" asp-action="Detail" method="get">
                                    <input type="hidden" name="id" value="@a.Id"/>
                                    <a style="cursor:pointer" class="btn btn-warning mr-1">
                                        <i class="fa fa-lock"></i>
                                    </a>
                                    <a style="cursor:pointer" class="btn btn-danger text-white mr-1">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <button type="submit"
                                            style="cursor:pointer" class="btn btn-primary text-white">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div><!-- table-wrapper -->
    </div>
    <div class="html mt-1">
        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
</div>